* {
   margin: 0;
   padding: 0;

}
canvas {
    display:block;
    width: 1px;
    height: 1px;
}
#main_image{
  margin-left: 50px;
  margin-top: 50px;
}
img{
  margin-left: 50px;
  margin-top: 50px;
  /*visibility: hidden;*/
}
table{
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: 50px;
  margin-top: 50px;

}
/*td{
  width: 1px;
  height: 1px;
}
